<div class="row signup">
  
    <div class="col-sm"></div>
  
    <div class="col-md-4 col-sm-6">
  <br>
    <div class="text-center"><h2 class="form-signin-heading">Enter Daily data</h2></div>
  <!-- daily data  Form -->
  <form #createForm="ngForm"  (ngSubmit)="distance()">
    <span>UniqueID(use the one you entered for daily data): </span>
  
    <label for="uniqueId" class="sr-only">Distance</label>

    <input type="text" name="uniqueId" id="uniqueId" class="form-control" [(ngModel)]="uniqueId" placeholder="Enter UniqueID" required autofocus>

    <br>
    <span>Start Time Stamp: </span>
  
    <label for="start-time" class="sr-only">Time</label>

    <input type="time" name="starttime" id="starttime" class="form-control" [(ngModel)]="starttime" placeholder="Enter Start Time" required autofocus>

    <br>
      <span>End Time Stamp: </span>
  
      <label for="end-time" class="sr-only">Time</label>
  
      <input type="time" name="endtime" id="endtime" class="form-control" [(ngModel)]="endtime" placeholder="Enter End Time" required autofocus>
  
      <br>
      <span>Speed(in m/s): </span>
  
      <label for="speed" class="sr-only">Time</label>
  
      <input type="number" name="speed" id="speed" class="form-control" [(ngModel)]="speed" placeholder="Enter Speed" required autofocus>
  
      <br>
      <button class="btn btn-lg btn-success btn-block" type="button" on-click="distance()">Save data</button>
  </form>
  <br>
  <div class="text-center">Go Back To Home Page <button class="btn btn-dark" [routerLink]="['/home']">Click Here</button></div>

  
    </div>
  
    <div class="col-sm"></div>
  
  </div>
  
  